{% extends 'base.html.twig' %}

{% block title %}Hello AboutController!

{% endblock %}

{% block body %}

	<section>

		<div class="example-wrapper">

			<h1>{{ titre }}</h1>

			{# Un commentaire dans un fichier twig #}

			<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquam ipsam quos voluptatem ducimus accusantium. Iste obcaecati nam pariatur dignissimos vel ratione a voluptatibus, quasi quaerat delectus voluptatum animi quia eveniet.</p>

		</div>

	</section>

{% endblock %}
