{% extends 'base.html.twig' %}

{% block title %}Hello AboutController!

{% endblock %}

{% block body %}

	<section>

		<div class="example-wrapper">

			<h1>{{ titre }}</h1>

            {# Un commentaire dans un fichier twig #}

		</div>

	</section>

{% endblock %}
